<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
New component

<div class="panel-row">
    <div class="panel-header">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-8"></div>
        </div>
    </div>
    <div class="panel-body">
        <div class="title">Customer information</div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-8">

                <form (ngSubmit)="onSubmit()" [formGroup]="form">
                    <div *ngFor="let control of controls">
                        
                        <div [ngSwitch]="control.parent">

                                <div *ngSwitchCase="true">
                                    <div formGroupName="control.key"  *ngFor="let child of control.children">
                                        <app-control [control]="child" [form]="form.controls[control.key]"></app-control>
                                    </div>
                                </div>

                                <div *ngSwitchCase="false">
                                    <app-control [control]="control" [form]="form"></app-control>
                                </div>
                            
                            
                        </div> 
                    </div>
                
                    <div>
                        <button type="submit" [disabled]="!form.valid">Save</button>
                    </div>
                </form>
                        
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="payLoad">
        <strong>Saved the following values</strong><br>{{payLoad}}
      </div>