.btn{
  font-size: 1.4rem;
  padding: .4rem 3rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  border-radius: 3px;
  color: #fff;
  border: none;
  box-shadow: none;
  outline: none;

 .icon,
 .fa{
      margin-right: .5rem;
  }
  &:disabled{
    opacity: .3;
  }

}
.btn-icon{
  border:none;
  background: none;
  box-shadow: none;
  padding: 0;
  >*+*{
      margin-left: 1rem;
  }
}

.btn-primary{
  background-color: $color-primary;
  
  &:hover,
  &:focus  {
    background-color : $color-btn-default-hover;

  }
}

.btn-default{
  background-color: $color-btn-default;
  
  &:hover,
  &:focus  {
    background-color: $color-btn-primary-hover;    
  }
}

.action-container,
.form-actions{
  display: flex;
  margin-top: 6rem;

  .btn+.btn{
      margin-left: 1.2rem;
  }

  &.right{
    justify-content: flex-end;
  }
}