$color-primary: #d70000;
$color-text-main: #424142;
$color-white: #fff;

$color-btn-default: #adadad;
$color-btn-text-default: $color-white;
$color-btn-default-hover: #adadad;
$color-btn-primary-hover: #d70000;
$color-btn-text-primary: $color-white;