<div [formGroup]="form" class="form-group no-label form-drag-drop" [ngSwitch]="column.controlType"
     [ngClass]="form.value[column.key]==''?'empty':'has-value'">

    <!-- Textbox -->
    <div *ngSwitchCase="'textbox'" class="d-flex align-items-center">
        <span class="btn btn-icon" dndHandle><i class="fa fa-arrows"></i></span>
        <input [formControlName]="column.key" [id]="column.key" [type]="column.type" class="form-control">
        <span (click)="delete(column.key, index)" class="btn btn-icon">
            <i class="fa fa-close"></i>
        </span>
    </div>

    <!-- End Textbot -->
    <!-- Dropdown List  -->
    <div *ngSwitchCase="'dropdown'" class="d-flex  align-items-center">
        <span  dndHandle class="btn btn-icon"><i class="fa fa-arrows"></i></span>
        <select class="form-control select-field" [id]="column.key" [formControlName]="column.key" [compareWith]="compareFn">
            <option *ngFor="let opt of column.options" [ngValue]="opt">{{opt.value}}</option>
        </select>
        <span (click)="delete(column.key, index)" class="btn btn-icon">
            <i class="fa fa-close"></i>
        </span>
    </div>
    <!-- End Dropdown List -->

    <div class="errorMessage" *ngIf="!isValid"><h6>{{column.label}} is required</h6></div>

</div>