
  <div class="row header-column align-items-center">
    <div class="col">
      <h4 class="title-colum-option">Column Options</h4>
    </div>
    <div class="col-auto">
      <button type="button" id="btnClose" (click)="closePanel()" class="btn btn-icon">
        <i class="fa fa-close" ></i>
      </button>
    </div>
  </div>
  <!-- <column-options [columnMetadata]="columnMetadata"></column-options> -->
  <div>
      <form (ngSubmit)="onSubmit()" [formGroup]="form" dndDropzone
      dndEffectAllowed="copyMove"
      (dndDrop)="onDrop($event, columnMetadata)">

       <div *ngFor="let column of columnMetadata; let i = index" 
        [dndEffectAllowed]="'move'"
        [dndDraggable]="column"
        (dndCopied)="onDragged(column, columnMetadata, 'copy')"
        (dndLinked)="onDragged(column, columnMetadata, 'link')"
        (dndMoved)="onDragged(column, columnMetadata, 'move')"
        (dndCanceled)="onDragged(column, columnMetadata, 'none')"
        >
     <div dndPlaceholderRef
          class="dndPlaceholder">
     </div>
         <app-column [column]="column" [form]="form" [index]="i" (deleteRow)="deleteRow($event[0],$event[1])"></app-column>
       </div>
       <div *ngIf="formdata">
         <strong>Saved the following values</strong><br>{{formdata}}
       </div>
       <button (click)="addNewRow() ; $event.preventDefault()" class="btn btn-icon">
          <i class="fa fa-plus"></i>
           <span>Add</span>
       </button>
 
       <div class="form-actions right">
         <button class="btn btn-danger btn-footer" id="btnApply" type="submit" [disabled]="!form.valid">Save</button>
         <button class="btn btn-footer" id="btnCancel" (click)="revert()">Cancel</button>
       </div>
     </form>
  </div>


