.content-tab-title{
    font-size: 1.8rem;
    font-weight: bold;
    color: #424142;
    margin-top: 8rem;
    margin-bottom: 4rem;
}
.update-img{
    border: 1px dotted #d7d7d7;
    height: 22rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title{
        margin-top: 1.4rem;
        color: #424142;
    }
    .icon{
        font-size: 3.5rem;
    }
    .sub-text{
        font-size: 10px;
        color: #adadad;
    }
}