<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="tab-panel bg-white">
    <h2 class="title-tab-panel">Create New</h2>
    <mat-tab-group  #tabGroup>
        <mat-tab label="Customer information"> 
            <ng-template matTabContent>
                <div class="content-tab-title">Customer information</div>
                <div [fileUploadInputFor]="fileUploadQueue" class="upload-drop-zone">
                    Just drag and drop files here
                </div>
                
                
                <div style="width: 500px">
                    <mat-file-upload-queue #fileUploadQueue
                        [fileAlias]="'file'"
                        [httpUrl]="'http://localhost:8080/jax-rs-jersey-application-sample'" multiple>
                    
                        <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index"></mat-file-upload>
                    </mat-file-upload-queue>
                </div>

                <div class="row">
                    <div class="col-4">
                        <div class="update-img">
                            <div class="fa fa-plus icon"></div>
                            <span class="title">Update Loge</span>
                            <p class="sub-text">300x300px & *.PNG Recommended</p>
                        </div>

                    </div>
                    <div class="col-8">          
                            
                        <form (ngSubmit)="onSubmit()" [formGroup]="formCustomerInformation">
                            <div *ngFor="let control of controlsCustomerInformation">
                                <app-control [control]="control" [form]="formCustomerInformation" *ngIf="!control.parent" ></app-control>  

                                 <div  *ngIf="control.parent">
                                    <h3 class="title-line">{{control.label}}</h3>
                                    <div class="row">
                                        <div *ngFor="let children of control.children" [class]="children.className">
                                            <app-control [control]="children" [form]="formCustomerInformation.controls[control.key]"></app-control>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                            <div class="action-container right">
                                <button class="btn btn-default" type="reset">Cancel</button> 
                                <button class="btn btn-primary" [disabled]="!formCustomer.valid" (click)="this.tabGroup.selectedIndex=1">Next</button>
                            </div>
    
                           
                        </form>
                        {{formCustomerInformation.valid}}
                        {{ formCustomerInformation.value | json }}
                    </div>
                </div>
            </ng-template>            
        </mat-tab>
        <mat-tab label="Payment information"  [disabled]='!formCustomerInformation.valid'> 
            <ng-template matTabContent>                
                <div class="content-tab-title">
                    Payment information
                </div>
                <div class="d-flex justify-content-center">
                    <div class="w-80">
                        <form (ngSubmit)="onSubmit()" [formGroup]="formPayInformation">
                            <div *ngFor="let control of controlsPayInformation">
                                <app-control [control]="control" [form]="formPayInformation"></app-control>                               
                            </div>
                        
                            <div class="action-container right">                                    
                                <button class="btn btn-default" type="submit">Cancel</button>                                
                                <button class="btn btn-default" type="submit">Submit & Add New Customer</button>
                                <button class="btn btn-primary" type="submit" [disabled]="(!formPayInformation.valid) ">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>  

