<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
New component
<!-- <mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group> -->

<div class="panel-row">
    <div class="panel-header">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-8"></div>
        </div>
    </div>
    <div class="panel-body">
        <div class="title">Customer information</div>
        <div class="row">
            <div class="col-4"></div>
            <div class="col-8">

                <form (ngSubmit)="onSubmit()" [formGroup]="form">
                    <div *ngFor="let control of controls">
                        
                        <div [ngSwitch]="control.parent">

                                <div *ngSwitchCase="true">
                                    <div formGroupName="control.key"  *ngFor="let child of control.children">
                                        <app-control [control]="child" [form]="form.controls[control.key]"></app-control>
                                    </div>
                                </div>

                                <div *ngSwitchCase="false">
                                    <app-control [control]="control" [form]="form"></app-control>
                                </div>
                            
                            
                        </div> 
                    </div>
                
                    <div>
                        <button type="submit" [disabled]="!form.valid">Save</button>
                    </div>
                </form>
                        
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
            </div>
        </div>
    </div>
</div>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit2()">
    <label>
      First Name:
      <input type="text" formControlName="firstName" required>
    </label>
  
    <label>
      Last Name:
      <input type="text" formControlName="lastName">
    </label>
  
    <div formGroupName="address">
      <h3>Address</h3>
  
      <label>
        Street:
        <input type="text" formControlName="street">
      </label>
  
      <label>
        City:
        <input type="text" formControlName="city">
      </label>
      
      <label>
        State:
        <input type="text" formControlName="state">
      </label>
  
      <label>
        Zip Code:
        <input type="text" formControlName="zip">
      </label>
    </div>
  
    <div formArrayName="aliases">
      <h3>Aliases</h3> <button (click)="addAlias()">Add Alias</button>
  
      <div *ngFor="let address of aliases.controls; let i=index">
        <!-- The repeated alias template -->
        <label>
          Alias:
          <input type="text" [formControlName]="i">
        </label>
      </div>
    </div>
  
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>
  
  <hr>
  
  
  <p>
    Form Value: {{ profileForm.value | json }}
  </p>
  
  
  <p>
    Form Status: {{ profileForm.status }}
  </p>
  
  <p>
    <button (click)="updateProfile()">Update Profile</button>
  </p>
  

<div *ngIf="payLoad">
    <strong>Saved the following values</strong><br>{{payLoad}}
</div>